*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/* nav */

nav .container-nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 5%;
}

nav .container-nav .contenedor-button-nav{
    display: flex;
}

nav .container-nav .input-buscador{
    width: 400px;
}

nav .container-nav .btn-carrito{
    display: flex;
    margin: 0% 5%;
}


/* Productos */

.section-productos{
    margin-top: 5%;
    width: 100%;
}

.section-productos .productos-container { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 10%;
    margin-top: 5%;
}

.section-productos .productos-container a{ 
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.section-productos .productos-container .producto{ 
    margin: 10% 10%;
    padding: 5% 5%;

    text-align: center;

    border: 1px solid rgba(0, 0, 0, 0.484);
    border-radius: 25px;
    box-shadow: 10px 10px 2px 1px rgba(0, 0, 0, 0.2);
}

.section-productos .productos-container .span-ver-producto{ 
    cursor: pointer;
}

.section-productos .productos-container .producto img{ 
    max-width:100%
}
.section-productos .productos-container .producto h2{ 
    font-size: 30px;
}
.section-productos .productos-container .producto p{ 
    font-size: 25px;
}
.section-productos .productos-container span span{ 
    color: #198754
}
.section-productos .productos-container button{ 
    font-size: 20px;
    border-radius: 25px;
    margin: 5% 1%;
}

.error{
    width: 100%;
    padding-top: 10%;
}

@media (max-width: 1024px) {
    .section-productos .productos-container { 
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 720px) {
    .section-productos .productos-container { 
        grid-template-columns: 1fr;
        margin-top: 10%;
        padding-top: 10%;
    }
    nav .container-nav{
        display: flex;
        flex-wrap: inherit;
        justify-content: center;
    }
    nav .container-nav .contenedor-button-nav{
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}

/* Ver productos */

.section-ver-productos .modal-dialog{
    margin-top: 5%;
}

.section-ver-productos .ver-producto{
    display: flex;
    overflow-y: scroll;
}

.ver-producto .carousel{
    margin: 0 5%;
    width: 450px;
}

.ver-producto .carousel img{
    height: 450px;
}


.ver-producto .producto-info{ 
    margin-top: 20px; 
}

.ver-producto .producto-info h2{ 
  font-size: 40px;
}

.ver-producto .producto-info div{ 
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5% 0;
}

.ver-producto .producto-info div p{ 
    font-size: 20px;
    margin-left: 10%;
}

.ver-producto .producto-info h3{ 
    font-size: 30px;
}

@media (max-width: 1360px) {
    .ver-producto .carousel{
        margin: 0 5%;
        width: 350px;
        height: 350px;
    }
    
    .ver-producto .carousel img{
        height: 350px;
    }
    
.ver-producto .producto-info div p{ 
    font-size: 15px;
    margin-left: 10%;
}

.ver-producto .producto-info h3{ 
    font-size: 20px;
}
}

/* Carrito */


.carrito .container-productos{
    max-height: 60vh;
    overflow-y: scroll;
}
.carrito .modal-dialog{
    width: 60%;
}

.producto-carrito{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10% 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.producto-carrito h2{
    font-size: 20px; 
    margin: 0 20px;
}
.producto-carrito p{
    font-size: 12px; 
    margin: 0 20px;
}


.producto-carrito .btndelete{
    margin: 0 20px;
    border: none;
    background-color: transparent;
}

.producto-carrito span  {
    font-size: 30px;
    padding: 5px;
    border: none;
    border-radius: 50px;
    color: rgba(255, 0, 0, 0.781);
    border: solid 2px rgba(255, 0, 0, 0.781);
    border-radius: 50px;
    background-color: transparent;
}

.producto-carrito span:hover{
    background-color: transparent;
    color: white;
    background-color: rgba(255, 0, 0, 0.781);
}


.titulomodal{
    font-size: 25px;
    font-weight: 600;   
}

.carrito-total p{
   font-size: 20px;
   font-weight: 600;
}


/* alertas */

.alertas{
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
}

.alert-incarrito{
    width: 300px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #198754;
    color: white;
    font-size: 20px;
    border-radius: 25px;

    margin-right: 5%;
    margin-bottom: 5%;
   
    z-index: 100;
}
.alert-incarrito p{
   margin: 0;
   text-align: center;
}

.alert-offcarrito{
    width: 300px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #871919;
    color: white;
    font-size: 20px;
    border-radius: 25px;
    
    margin-right: 5%;
    margin-bottom: 5%;
    position: fixed;
    bottom: 0;
    right: 0;
}

.alert-offcarrito p{
   margin: 0;
   text-align: center;
}

.alert-off{
    display: none;
}

.alert-on{
    display: block;
}