*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/* nav */

nav .container-nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 5%;
}

nav .container-nav .contenedor-button-nav{
    display: flex;
}

nav .container-nav .btn-carrito{
    display: flex;
    margin: 0% 5%;
}


/* Productos */

.section-productos{
    margin-top: 5%;
    width: 100%;
}



.section-productos .productos-container { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 10%;
    margin-top: 5%;
}

.section-productos .productos-container a{ 
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.section-productos .productos-container .producto{ 
    margin: 10% 10%;
    padding: 5% 5%;

    text-align: center;

    border: 1px solid rgba(0, 0, 0, 0.484);
    border-radius: 25px;
    box-shadow: 10px 10px 2px 1px rgba(0, 0, 0, 0.2);
}

.section-productos .productos-container .span-ver-producto{ 
    cursor: pointer;
}

.section-productos .productos-container .producto img{ 
    max-width:100%
}
.section-productos .productos-container .producto h2{ 
    font-size: 30px;
}
.section-productos .productos-container .producto p{ 
    font-size: 25px;
}
.section-productos .productos-container span span{ 
    color: #198754
}
.section-productos .productos-container button{ 
    font-size: 20px;
    border-radius: 25px;
    margin: 5% 1%;
}

@media (max-width: 900px) {
    .section-productos .productos-container { 
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 720px) {
    .section-productos .productos-container { 
        grid-template-columns: 1fr;

    }
}

/* Ver productos */

.section-ver-productos{

}

.section-ver-productos .modal-ver-producto{

}

.section-ver-productos .modal-ver-producto .ver-producto{

}

/* Carrito */

.producto-carrito{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10% 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.producto-carrito h2{
    font-size: 20px; 
    margin: 0 20px;
}
.producto-carrito p{
    font-size: 12px; 
    margin: 0 20px;
}
 
.producto-carrito button{
    margin: 0 20px;
    border: none;
    background-color: transparent;
}

.producto-carrito span  {
    font-size: 30px;
    padding: 5px;
    border: none;
    border-radius: 50px;
    background-color: rgba(255, 0, 0, 0.781);
}

.producto-carrito span:hover{
    background-color: rgba(110, 8, 8, 0.781);
}